<style type="text/css">
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif; margin-left:0px;}
label{cursor:pointer;}
.democode{width:400px;margin:auto auto 0 auto;line-height:24px;}
.democode h2{font-size:14px;color:#3366cc;height:28px;}
.agree{margin:0px auto;width:400px;font-size:16px;font-weight:800;color:#3366cc;}
.mainlist{/*border:1px solid red;*/ padding:10px; width:735px; height:490px;overflow-x:hidden;}
mainlist li{width:200px; height:700px; border:2px solid #000;}
.btnbox{/*text-align:center;height:30px;padding-top:10px;background:#ECF9FF;border:2px solid green;*/height: 30px;margin-top:20px;margin-left: 80px;}
.confirmBtn{ background-color:#69C; width:80px;height:40px; margin-left:88px; color:#FFF;}
.mainlist{ list-style-position:none;}
#windownbg{display:none;position:absolute;width:100%;height:100%;background:#000;top:0;left:0;}
#windown-box{position:fixed;_position:absolute;border:5px solid #E9F3FD;background:#FFF;text-align:left; overflow:scroll; }
#windown-title{position:relative;height:30px;border:1px solid #A6C9E1;overflow:hidden;background:url(images/tipbg.png) 0 0 repeat-x;}
#windown-title h2{position:relative;left:10px;font-size:14px;color:#666; margin-top:2px;}
#windown-close{position:absolute;right:10px;top:8px;width:10px;height:16px;text-indent:-10em;overflow:hidden;background:url(images/tipbg.png) 100% -49px no-repeat;cursor:pointer;}
#windown-content-border{position:relative;top:-1px;border:1px solid #A6C9E1;padding:5px 0 5px 5px;}
#windown-content img,#windown-content iframe{display:block; width:750px;height:1450px; margin-bottom:50px;margin-left:10px;}
#windown-content .loading{position:absolute;left:50%;top:50%;}
</style>